/* Table elements Styling */

td {
    padding: 5px;
    text-align: center;
}


h2 {
    color: aliceblue;
}
.content {
    padding: 50px;
    margin-top: 50px;
}

.heading-box {
    border: 5px solid #006633;
    box-shadow: 0 5px 10px #FFCC33;
    padding: 10px;
    background-color: #006633;
    margin-top: 20px;

}

button{
    width: 100px;
}